/* ................................. /////////// PAGE PRELOADER /////////// ................................. */
#loader-wrapper {
    background: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #808080;
    display: block;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    position: relative;
    z-index: 1001;
    &:after {
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
        border: 3px solid transparent;
        border-top-color: #202020;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }
    &:before {
        -webkit-animation: spin 2.5s linear infinite;
        animation: spin 2.5s linear infinite;
        border: 3px solid transparent;
        border-top-color: #505050;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }
}
.loader-logo {
    position: absolute;
    top:25%;
    left:48%;
}
.loaded {
    -moz-transform: translate3d(-100%, 0px, 0px);
    -webkit-transform: translate3d(-100%, 0px, 0px);
    -o-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate3d(-100%, 0px, 0px);
    -webkit-transition: all 500ms linear; 
    transition: all 500ms linear;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
