#footer {
    background: #F0F0F0;
    border-top: 1px solid #D8D8D8;
    color: #333;
    height: 60px;
    margin-top: 30px;
}
#copyright {
    color: #333;
    font-family: Droid Sans, sans-serif;
    float: left;
    margin-top: 20px;
}

.social-links {
        float: right;
        margin-top: 2%;
        margin-right: 5px;
}
.social-links li {
    display: inline;
}

#main-footer.turquoise .social-links li > a > i {
    color: #1ABC9C;
    &:hover{
        background: #1ABC9C;
        color: #FFF;       
    }
}
.social-links li > a > i {
    background: #FFF;
    border: 1px solid #D8D8D8;
    border-radius: 1px;
    color: #333;
    height: 36px;
    width: 40px;
    max-height: 36px;
    max-width: 46px;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}