<!-- FOOTER -->
        <div id="main-footer" class="turquoise">
            <div id="footer"> 
                <div class="container">
                    <div class="col-md-6">
                        <p id="copyright">&copy; Eduardo Herrera 2016</p>
                    </div>
                </div>
            </div>
        </div>