/*.acme-navbar-text {
  color: white;
}

h5 {
    font-size: 1.0rem;
}

#main-navbar {
    background-color: rgba(255,255,255,0.1);
    border: none;
    transition: .4s ease;
    z-index: 900;
    &:hover {
    background-color: rgba(0,0,0,0.2);
	}
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    &:hover{
        color: #FFF;
    }
    &:focus{
	   color: #FFF;
    }
}
.navbar-collapse{
    width: 100%;
}

.navbar-brand {
    color: #FFF;
    padding: 10px 10px;
    &:visited {
        color: #FFF;
    }
    .navbar-default{ 
    }
}

.icon-bar {
	background-color: #333;
	.navbar-toggle{
		border-radius: 1px;
		.navbar-default {

		}
	}
}


#logo{
    margin-top: -5px;
}

.hover-effect {
    display: inline-block;
    &:after {
        background: transparent;
        content: '';
        display: block;
        height: 2px;
        width: 0;
        margin-top: -5px;
        transition: width .5s ease, background-color .5s ease;
    }
    &:hover:after {
        background: #FFF;
        width: 100%;
    }
}
*/