      <header id="main-header">
      <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top"><!-- Main Navbar -->
                <div class="container">
                    <a href="#" class="navbar-brand" id="logo">TinyURL</a><!--- Site Logo -->
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">-->
                    <button type="button" id="nav-toggle" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <!-- Mobile Menu Button -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
                        <ul class="nav navbar-nav navbar-right"><!-- Nav Links -->
                            <li><a ui-sref="home" class="hover-effect"><h5>Home</h5></a></li>
                            <li><a ng-if="myNavbar.auth.isLoggedIn" ui-sref="dashboard" class="hover-effect"><h5><i class="fa fa-user" aria-hidden="true"></i> TinyURL</h5></a></li>
                            <li><a ng-if="myNavbar.auth.isLoggedIn" ng-click="myNavbar.logout()" class="hover-effect"><h5><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Out</h5></a></li>
                            <li><a ng-if="!myNavbar.auth.isLoggedIn" ui-sref="signup" class="hover-effect"><h5><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</h5></a></li>
                            <li><a ng-if="!myNavbar.auth.isLoggedIn" ui-sref="login" class="hover-effect"><h5><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</h5></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
          </header>