.hero-unit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../../assets/images/hero.jpg) !important;
    background-size: cover;
    background-position: center;
    height: auto;
    display: -webkit-box;
}
.hero-caption {
    color: #FFF;
    text-shadow: none;
    border: 1px solid #FFF;
    padding: 20px;
    width: 60%;
    margin: 20% auto;
}