    <!-- ///////////////// HERO SECTION ///////////////// -->
    <section id="hero-section" class="turquoise">
        <div class="small-margin text-center hero-unit">
            <div class="col-md-12">
                <div class="hero-caption"><!-- Main Tagline -->
                    <h1 class="tagline">WE ARE <span class="colored">NIXO</span> CREATIVE</h1>
                    <h5>Branding | Design | Developement</h5>
                </div>
            </div>
        </div>
    </section>