<div class="colored-bg pattern-bg" style="margin-top:50px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Log In</h1>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">LogIn</h3>
				  </div>
				  <div class="panel-body">
					<form class="form-style" name="loginForm" ng-controller="IngresarController as mylogin" ng-submit="loginForm.$valid && mylogin.crearSesion(loginForm)" novalidate>
	                    <div ng-repeat="alert in alerts" type="alert.type" class="alert alert-{{alert.type}}">
	                        <strong>{{ alert.msg }}</strong>
	                    </div>
						<input type="email" ng-model="mylogin.user.email" id="email" name="email" placeholder="Email" data-error="That, does not appear to be a valid email" required autofocus>
					        <span class="ondirty" ng-show="loginForm.email.$dirty && loginForm.email.$touched
					        && !loginForm.email.$valid && !loginForm.email.$pristine">That, does not appear to be a valid email.</span>
					    <input type="password" ng-model="mylogin.user.password" id="contra"
					        name="contra" placeholder="Password" data-error="You need a real password" ng-minlength="6" required>
					        <span class="ondirty" ng-show="loginForm.contra.$dirty && loginForm.contra.$touched
					        && !loginForm.contra.$valid && !loginForm.contra.$pristine">You need a real password</span>
	                    <br><br><p><a ui-sref="password">Forgot password</a></p>
	                    <center><button type="submit" ng-show="loginForm.$valid || mylogin.userCrated.process"  class="btn btn-acua btn-block" ng-disabled="mylogin.userCrated.process"><i ng-show="mylogin.userCrated.process" class="fa fa-circle-o-notch fa-spin"></i> Log In</button></center>
						<p class="text-center"><a ui-sref="signup" class="btn btn-primary btn-block">Sign Up</a></p>
					</form>
				  </div>
				</div>
			</div>
	    </div>
	</div>
</div>