/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@white: #fff;
@acua: #1abc9c;
@acuagray: #cfe4e0;
@acuadark: #39ab94;
@icon-font-path: '../../bootstrap/fonts/';

@fa-font-path: "../../bower_components/font-awesome/fonts";

html, body {
    font-size: 16px;
    line-height: 1.35rem;
    max-width: 100%;
    overflow-x: hidden;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.hr-right {
    background: #DDD;
    display: inline-block;
    height: 1px;
    width: 20%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.hr-left {
    background: #DDD;
    display: inline-block;
    height: 1px;
    width: 20%;
    margin-right: 15px;
    margin-bottom: 10px;
}

.heading {
    margin-bottom: 5px;
}

.sub-heading {
    margin-top: 10px;
    line-height: 1.4em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  img.pull-right {
    width: 50px;
  }
}
.colored{
	color: @acua;
	.turquoise{
		#about-section{

		}
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

a{
    color: @acua;
    text-decoration: none;
    &:hover, &:focus {
        outline: none;
        outline-offset: -2px;
        color: @acua;
        text-decoration: underline;
    }
}

.button {
    border: 1px solid #2B2B2B;
    background: @white;
    color: @acua;
    display: block;
    font-family: Droid Sans, sans-serif;
    font-weight: bold;
    height: 40px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.3s ease;
}

.turquoise .button {
    border: 1px solid @acua;
    &:hover {
        background: @acua;
        color: @white;
    }
}

.btn-acua {
    color: @acua;
    background-color: @white;
    border: 1px solid @acua;
    &:hover {
        color: @white;
        background-color: @acua;
        border-color: @acuadark;
    }
    &:focus {
        color: @acuagray;
        text-decoration: none;
        outline-color: @acua;
    }
}

.btn-acuafull {
    color: @white;
    background-color: @acua;
    border: 1px solid @acua;
    &:hover {
        color: @acua;
        background-color: @white;
        border-color: @acua;
    }
    &:focus {
        color: @white;
        text-decoration: none;
        outline-color: @acua;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-family: Droid Sans, sans-serif;
    font-weight: bold;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    height: 40px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 16px;
    padding: 8px 6px;
    line-height: 1.35rem;
}

/****FORMULARIOS*****/

input {
    height: 45px;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    &:focus{
        border: 1px solid @acua;
        outline-color: @acua;
    }
}

textarea {
    height: 150px;
    width: 100%;
    max-width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    &:focus{
        border: 1px solid @acua;
        outline-color: @acua;
    }
}

.ondirty{
    color: @acua;
}

/********PANELS************/
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.panel-acua {
    border-color: @acua;
    .panel-heading {
        color: @white;
        background-color: @acua;
        border-color: @acua;
    }
    h4{
        a:focus {
            color: @white;
            text-decoration: none;
            outline-color: @acua;
        }
        a:hover {
            color: @white;
            text-decoration: none;
        }
    }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
