<div class="colored-bg pattern-bg" style="margin-top:50px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Sign Up</h1>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Sign Up</h3>
				  </div>
				  <div class="panel-body">
				    <form class="form-style" name="userForm" ng-controller="SignupController as registro" ng-submit="userForm.$valid && registro.sendInfo(userForm)" novalidate>
                    
	                    <div ng-repeat="alert in alerts" type="alert.type" class="alert alert-{{alert.type}}">
	                        <strong>{{ alert.msg }}</strong>
	                    </div>
	                    
		                <input type="text" ng-model="registro.user.name" id="name" name="name" placeholder="Name" data-error="Please, Write your name" required autofocus>
		                    <span class="ondirty" ng-show="userForm.name.$dirty && userForm.name.$touched
						        && !userForm.name.$valid && !userForm.name.$pristine">Please, Write your name.
		                    </span>
		                <input type="text" ng-model="registro.user.lastname" id="lastname" name="lastname" placeholder="Lastname" data-error="Please, Write your lastname" required>
						        <span class="ondirty" ng-show="userForm.lastname.$dirty && userForm.lastname.$touched
						        && !userForm.lastname.$valid && !userForm.lastname.$pristine">Please, Write your lastname</span>
		                <input type="email" ng-model="registro.user.email" id="email" name="email" placeholder="Email" data-error="That, does not appear to be a valid email" required>
						        <span class="ondirty" ng-show="userForm.email.$dirty && userForm.email.$touched
						        && !userForm.email.$valid && !userForm.email.$pristine">That, does not appear to be a valid email.</span>
		                <input type="password" ng-model="registro.user.password" id="password" name="password" placeholder="Password" data-error="You need a password over six characters"  ng-minlength="6" required>
						        <span class="ondirty" ng-show="userForm.password.$dirty && userForm.password.$touched
						        && !userForm.password.$valid && !userForm.password.$pristine">You need a password over six characters.</span>
		                <input type="password" ng-model="registro.user.password_confirmation" id="passwordConf" name="passwordConf" placeholder="Password Confirmation" data-error="Sorry, but it is not the same password" ng-pattern="registro.user.password" required>
						        <span class="ondirty" ng-show="userForm.passwordConf.$dirty && userForm.passwordConf.$touched
						        && !userForm.passwordConf.$valid && !userForm.passwordConf.$pristine">Sorry, but it is not the same password</span>
		            	<center><button type="submit" ng-show="userForm.$valid || registro.userCrated.process"  class="btn btn-acua btn-block" ng-disabled="registro.userCrated.process"><i ng-if="registro.userCrated.process" class="fa fa-circle-o-notch fa-spin"></i> Sign Up</button></center>
          			</form>
				  </div>
				</div>
			</div>
	    </div>
	</div>
</div>