.form-style {
	padding: 40px 25px;
	.form-control {
		margin-bottom: 20px;
		color: #74777c;
		border: 1px solid #ccc;
		border-color: #E4E4E4;
		background-color: #F7F8FA;
		box-shadow: none;
		color: black;
		
	}
}
.checkbox {
	background-color: #EBECF0;
	margin-bottom: 25px;
	padding: 14px 14px 14px 55px;
}