<div class="colored-bg pattern-bg" style="margin-top:50px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>URL's</h1>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container" ng-controller="DashboardController as myNewApp" ng-init="myNewApp.listInfo()">
		<div class="row">
			<div class="col-md-12">
			    <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default panel-primary" is-open="status.open">
                        <uib-accordion-heading>
                            Create tiny url <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>

                        <form class="form-style" name="appForm" ng-submit="appForm.$valid && myNewApp.sendInfo(appForm)" novalidate>
                    
		                    <div ng-repeat="alert in alerts" type="alert.type" class="alert alert-{{alert.type}}"><strong>{{ alert.msg }}</strong></div>
		                    
			            <div class="form-group">
			                <input type="text" ng-model="myNewApp.app.url" id="url" name="url" placeholder="URL" data-error="Is necessary to have an URL for your app." required>
			                    <span class="ondirty" ng-show="appForm.url.$dirty && appForm.url.$touched && !appForm.url.$valid && !appForm.url.$pristine">Requerido.
			                    </span>
			            </div>
			            
			    		<input class="btn btn-primary" type="submit" name="commit" value="Get Tiny URL" /><br>
			    		<button type="submit" ng-show="userForm.$valid || registro.appInstanceCrated.process"  class="btn btn-primary btn-block" ng-disabled="registro.appInstanceCrated.process"><i ng-if="registro.appInstanceCrated.process" class="fa fa-circle-o-notch fa-spin"></i> Save</button>
					</form>
                    </div>
                </uib-accordion>
			</div>
		</div>

	    <div class="row">
		  <div class="col-md-12" ng-repeat="myapp in myNewApp.ligas">
		        <h3>{{myapp.id}}</h3>
		        <p><strong>URL: </strong><a href="{{myapp.url}}">{{myapp.url}}</a></p>
		        <p><strong>TinyURL: </strong><a href="{{myapp.tinyurl}}">{{myapp.tinyurl}}</a></p>

		  </div>
		</div>
	</div>
</div>